@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/rb.png" alt="Logo" class="mb-3" style="max-width: 400px;" />
    <h1 class="display-4">Welcome</h1>
    <p>to Blanca eManagement application.</p>
</div>
